/* ---- base style ---- */

html{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	width: 100%;
	height: 100%;
    background:rgb(255, 0, 0);
}
body{
    width: 100%;
    height: 100%;
    background:rgb(0, 255, 0);
}


/* ---- style for paricle container ---- */

#particles-js{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 10);
}


/* ---- style for site content ---- */

#info-box{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: transparent;
}

/*
#picture-box{
}
*/

#name-box{
    font-size: 40px;
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: bold;
}

#bio-box{
    font-size: 16px;
    color: rgb(199, 199, 199);
    text-transform: capitalize;
    font-weight: normal; 
}

/*
#link-box{
}
*/

#legal-box{
    /* text */
    font-size: 10px;
    color: rgb(155, 155, 155);
    text-transform: none;
    font-weight: normal;
}